<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    
    <style>
      @media print, screen and (min-width: 960px) {
        .wrapper { position: relative; }
        header { 
          position: absolute; 
          right: 0; 
          float: right; 
        }
        section { 
          float: left; 
        }
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <p>
          <a href="mailto:carlosgb314@gmail.com">📧 Send me an Email</a><br>
          <a href="https://x.com/carlosgb314">🐦 My Twitter</a>
        </p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}
        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View my GitHub Profile</a></p>
        {% endif %}
      </header>
      <section>
        {{ content }}
      </section>
    </div>
  </body>
</html>
